@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer components{
    .primary-btn{
        @apply  bg-red-500  font-semibold py-3 px-6 rounded-md shadow-md hover:!scale-110 duration-300;
    }
}